# Automatically created file, don't edit.
#IFDEF NORMAL
 -TLinux
 -Mfpc
 -Sg
 -Si
 -Os
 -CpATHLON64
 -OpATHLON64
 -Fu/usr/lib/$fpctarget-gnu/fpc/3.0.4/units/$fpctarget
 -Fu/usr/lib/$fpctarget-gnu/fpc/3.0.4/units/$fpctarget/ncurses
 -Fu/usr/lib/$fpctarget-gnu/fpc/3.0.4/units/$fpctarget/rtl
 -Fu/usr/lib/$fpctarget-gnu/fpc/3.0.4/units/$fpctarget/rtl-console
 -Fu/usr/lib/$fpctarget-gnu/fpc/3.0.4/units/$fpctarget/rtl-objpas
 -Fu/usr/lib/$fpctarget-gnu/fpc/3.0.4/units/$fpctarget/iconvenc
 -FE/home/popolony2k/Projects/Pascal/build/bin
 -FU/home/popolony2k/Projects/Pascal/build/units
 -gl
 -p-
 -b-
 
 -Ooregvar
 -O1
 -Ratt
#ENDIF

#IFDEF DEBUG
 -TLinux
 -Mfpc
 -Sg
 -Si
 -Sa
 -Cr
 -Ci
 -Co
 -CR
 -Os
 -CpATHLON64
 -OpATHLON64
 -Fu/usr/lib/$fpctarget-gnu/fpc/3.0.4/units/$fpctarget
 -Fu/usr/lib/$fpctarget-gnu/fpc/3.0.4/units/$fpctarget/ncurses
 -Fu/usr/lib/$fpctarget-gnu/fpc/3.0.4/units/$fpctarget/rtl
 -Fu/usr/lib/$fpctarget-gnu/fpc/3.0.4/units/$fpctarget/rtl-console
 -Fu/usr/lib/$fpctarget-gnu/fpc/3.0.4/units/$fpctarget/rtl-objpas
 -Fu/usr/lib/$fpctarget-gnu/fpc/3.0.4/units/$fpctarget/iconvenc
 -FE/home/popolony2k/Projects/Pascal/build/bin
 -FU/home/popolony2k/Projects/Pascal/build/units
 -d__NCURSES
 -d__NCRT
 -g
 -p-
 -b-
 
 -Ratt
#ENDIF

#IFDEF RELEASE
 -TLinux
 -Mfpc
 -Sg
 -Si
 -CX
 -Os
 -CpATHLON64
 -OpATHLON64
 -XS
 -g-
 -p-
 -b-
 
 -Ooregvar
 -O2
 -Ratt
#ENDIF

